vendor/
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
.env
.env.local
.env.production
storage/logs/*.log
bootstrap/cache/
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vscode/
.phpStorm.meta.php
.idea/
